.PokemonCard {
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PokemonImage {
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PokemonImage .PokemonImageFront {
  width: 100%;
  min-width: 300px;
}

.PokemonImage .PokemonImageBack {
  width: 50%;
  min-width: 150px;
}

.PokemonBody {
  text-align: center;
}

.PokemonName {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.PokemonTypes {
  display: flex; 
  justify-content: center;
  margin-bottom: 2px;
  gap: 10px;
}

.PokemonType {
	padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 10px;
} 

.PokemonStats {
  background-color: rgb(226 232 240);
  border-radius: 0.75rem;
}

.PokemonStat {
  background-color: rgb(203 213 225);
  border-radius: 0.75rem;
  margin: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
}
